* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ============= Heading Section ============= */

.header {
  background-color: #F8F8F8;
  padding-top: 45px;
  padding-bottom: 145px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header__top {
  margin-bottom: 100px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
   font-weight: bold
}

.logo {
  font-size: 18px;
  font-weight: 800;
}

.nav {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
  font-size: 14px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.phone {
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__text {
  flex-basis: 50%;
}

.headr-content__title {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.headr-content__description {
  font-size: 17px;
  line-height: 160%;
  padding: 20px 0;
  margin-bottom: 42px;
}

.headr-contet__img {
  width: 600px;
}

.button {
  /* width: 250px;
    height: 60px; */
  background: #FF6C6C;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 160%;
  padding: 15px 56px;
  cursor: pointer;
}

.button--shadow {
  box-shadow: 0px 10px 25px rgba(255, 108, 108, 0.5);

}

/* ============= End of Heading Section ============= */

/* #################### CATALOG section #################### */

.section {
  padding: 100px 0;
}

.section__title {
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 25%;
  background-color: #F8F8F8;
  box-shadow: 0px 4px 4px rgba(104, 104, 104, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}

.goods__card {
  margin-bottom: 30px;
}

.card__image {
  margin-bottom: 28px;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.card__title {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  max-width: 200px;
}

.card__price {
  font-size: 36px;
}

.card__button {
  width: 100%;
}

/* #################### End of CATALOG section #################### */

/* #################### Customer reviews section #################### */
.review-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-card {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.25);
  border-radius: 10px;
  padding: 20px 30px;
  flex-basis: 24%;
}

.review-card__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.review-card_text {
  font-size: 14px;
  line-height: 21px;
}

/* #################### End of Customer reviews section #################### */

/* #################### Footer section section #################### */
.footer {
  background-color: #F8F8F8;

}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.form {
  flex-basis: 45%;

}

.map {
  flex-basis: 50%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.input {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
  border-radius: 5px;
  border: none;
  padding: 25px 30px;
  font-size: 14px;
}

.form__input {
  flex-basis: 50%;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 47%;
  margin-bottom: 20px;
}

.form__inputs input:first-child {
  margin-right: 30px;
}

.contacts__form textarea {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.form__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.social {
  display: flex;
}

.social_link {
  margin-left: 22px;

}

/* #################### End of Footer section section #################### */


/* #################### Responsive web design #################### */

/*############# @media query: 1200px ############# */
@media(max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .headr-content__title{
font-size: 29px;
  }

  .headr-content__description{
    font-size: 16px;
  }

  .card{
  flex-basis: 48%;
  }
  .card__image{
    width: 100%;
  }

  .review-card{
    flex-basis: 48%;
    margin-bottom: 20px;
    /* margin-right: 5px; */
  }
  
}
/*#############End of  @media query: 1200px ############# */

/*############# @media query: 900px ############# */
@media(max-width: 990px){
.container{
  max-width: 760px;
}
.header-content{
  flex-direction: column;
}
.contacts{
  flex-direction: column;
}
.headr-content__description{
  max-width: 500px;
}
.contacts__form{
  margin-bottom: 50px;
}
.review-card{
  margin-right: 35px;
}
}

/*############# End of @media query: 900px ############# */

/*############# @media query: 900px ############# */

@media(max-width: 768px){
.container{
  width: 90%;
  min-height: 100px;
}
.top{
  flex-direction: column;
  min-height: 100px;
 
}
.header-content{
  text-align: center;
}
.headr-content__title{
  font-size: 24px;
}
.headr-content__description{
  font-size: 16px;
}
.headr-contet__img{
  width: 80%;
}
.card{
  flex-basis:100%;
}
}
/*############# End of @media query: 900px ############# */